.car-link {
  color: black;
  transition: color 0.3s;
  padding: 20px 0;
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: gray;
}
.car-link:hover {
  color: #6e6c6c;
}

.best-deal-header {
  font-size: 4rem;
  font-weight: 600;
}

.author {
  font-size: 1rem;
  color: gray;
  font-weight: 600;
  margin-bottom: 20px;
}
.author .author-name {
  color: black;
  transition: color 0.3s;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 10px;
}
.author .author-name:hover {
  color: #6e6c6c;
}

.best-deal-note {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.best-deal-readmore {
  display: block;
  color: black;
  transition: color 0.3s;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.best-deal-readmore:hover {
  color: #6e6c6c;
}
.best-deal-readmore i {
  position: relative;
  font-size: 1.4rem;
  top: -2px;
}

.find-best-price {
  padding: 20px 0;
  margin-bottom: 20px;
  border-top: 2px solid #6e6c6c;
  border-bottom: 2px solid #6e6c6c;
}
.find-best-price h3 {
  font-size: 2.2rem;
  font-weight: 600;
}
.find-best-price p {
  font-size: 1.4rem;
}
.find-best-price p .fa-home {
  color: blue;
  font-size: 1.4rem;
  margin-right: 8px;
}
.find-best-price p b {
  font-size: 1.4rem;
}

.learn-more1 {
  font-size: 1.4rem;
  color: black;
  transition: color 0.3s;
  color: #2b2bf3;
}
.learn-more1:hover {
  color: #6e6c6c;
}

.find-price-select {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  width: 100%;
}
.find-price-select select {
  padding: 10px;
  font-size: 1.2rem;
}
.find-price-select select option {
  font-size: 1.2rem;
}
.find-price-select input {
  font-size: 1.2rem;
  padding: 10px;
}
.find-price-select button {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #c4212a;
  transition: color 0.3s;
  box-shadow: #a61c1e 0px -3px 0px inset;
  border-radius: 5px;
}
.find-price-select button:hover {
  background-color: #a30d10;
}

.learn-more2 {
  display: block;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  transition: color 0.3s;
}
.learn-more2:hover {
  color: #6e6c6c;
}

.car-brand-header {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.car-brand-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
}
.car-brand-list .car-brand-item a {
  font-size: 1.8rem;
  color: black;
  transition: color 0.3s;
}
.car-brand-list .car-brand-item a:hover {
  color: #6e6c6c;
}

.car-classify {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
}
.car-classify .car-classify-item a {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  transition: color 0.3s;
}
.car-classify .car-classify-item a:hover {
  color: #6e6c6c;
}

.car-deals {
  margin-top: 30px;
}
.car-deals h1 {
  font-size: 2.8rem;
  font-weight: 600;
}
.car-deals .car-deals-list-des {
  padding: 15px 0;
  font-size: 1rem;
  color: #6e6c6c;
  font-style: italic;
}

.car-deals-item {
  margin: 15px 0;
  position: relative;
  padding: 15px;
  box-shadow: rgba(17, 17, 17, 0.3) 0px 0px 3px;
}
.car-deals-item .deal-item-content {
  display: flex;
  margin-bottom: 10px;
}
.car-deals-item .deal-item-content .deal-item-img {
  max-width: 180px;
  max-height: 180px;
}
.car-deals-item .deal-item-content .deal-item-main {
  padding-left: 20px;
}
.car-deals-item .deal-item-content .deal-item-main a {
  color: black;
  transition: color 0.3s;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}
.car-deals-item .deal-item-content .deal-item-main a:hover {
  color: #6e6c6c;
}
.car-deals-item .deal-item-content .deal-item-main .deal-main-header {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.car-deals-item .deal-item-content .deal-item-main .deal-main-text {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.car-deals-item .deal-item-content .deal-item-main .deal-main-text span {
  font-size: 1.2rem;
  color: #6e6c6c;
}
.car-deals-item .deal-item-price {
  font-size: 1.4rem;
  color: #6e6c6c;
}
.car-deals-item .deal-item-price span {
  margin-left: 5px;
  color: #000000;
  font-weight: 600;
  text-decoration: line-through;
  font-size: 1.6rem;
}
.car-deals-item .deal-item-form input {
  max-width: 60px;
  padding: 5px;
  font-size: 1.2rem;
}
.car-deals-item .deal-item-form button {
  background: #c4212a;
  font-size: 1.4rem;
  background-color: #a61c1e 0px -3px 0px inset;
  font-weight: 600;
}

.car-deal-side {
  padding: 15px;
  border: 1px solid #adabab;
}
.car-deal-side p {
  font-size: 1.3rem;
}
.car-deal-side h3 {
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.deal-side-header {
  font-weight: 600;
  font-size: 2rem;
}

.deals-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.deals-list .deal-side-button {
  background-color: #3d3df3;
  padding: 8px 10px;
  display: flex;
  margin: 3px;
  justify-content: center;
  font-weight: 600;
  border-radius: 10px;
  transition: color 0.3s;
  font-size: 1.3rem;
  box-shadow: #164d99 0px -3px 0px inset;
}
.deals-list .deal-side-button:hover {
  color: #ffffff;
  background-color: blue;
}

.side-brand-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
}
.side-brand-list a {
  color: black;
  transition: color 0.3s;
  font-size: 1.4rem;
}
.side-brand-list a:hover {
  color: #6e6c6c;
}
.side-brand-list:last-child() {
  font-weight: 600;
}

.deal-side-advertise {
  margin: 20px 0;
  border: 1px solid #a7a5a5;
}

.side-advertise-header {
  background-color: #000000;
  padding: 10px;
  text-align: center;
}
.side-advertise-header img {
  height: 80px;
}

.side-advertise-main {
  padding: 10px;
}
.side-advertise-main h3 {
  font-weight: 600;
}

.side-advertise-content {
  display: flex;
  justify-content: space-between;
}
.side-advertise-content ul li a {
  color: black;
  transition: color 0.3s;
  font-size: 1.4rem;
}
.side-advertise-content ul li a:hover {
  color: #6e6c6c;
}
.side-advertise-content img {
  height: 80px;
}

@media only screen and (max-width: 1224px) {
  .best-deal-header {
    font-size: 2.4rem;
  }

  .best-deal-note {
    font-size: 1.4rem;
  }

  .best-deal-readmore {
    font-size: 1.4rem;
  }

  .car-brand-header {
    font-size: 2rem;
  }

  .car-brand-list .car-brand-item a {
    font-size: 1.4rem;
  }

  .best-deal-container {
    max-width: 98%;
  }
}
@media only screen and (max-width: 992px) {
  .car-deals-item .deal-item-content .deal-item-img {
    max-height: 100px;
  }
  .car-deals-item .deal-item-content .deal-item-main a {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  .car-deals-item .deal-item-content .deal-item-main .deal-main-header {
    font-size: 1.4rem;
  }
  .car-deals-item .deal-item-content .deal-item-main .deal-main-text {
    display: none;
  }

  .find-best-price h3 {
    font-size: 1.8rem;
  }

  .learn-more2 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 576px) {
  .car-classify {
    grid-template-columns: repeat(2, 1fr);
  }

  .car-brand-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .car-deals h1 {
    font-size: 2.2rem;
  }

  .car-deals-item {
    padding-bottom: 20px;
  }
  .car-deals-item .deal-item-content .deal-item-img {
    max-height: 80px;
  }
  .car-deals-item .deal-item-content .deal-item-main a {
    font-size: 1.4rem;
  }
  .car-deals-item .deal-item-content .deal-item-main .deal-main-header {
    font-size: 1.2rem;
  }
  .car-deals-item .deal-item-price {
    font-size: 1rem;
  }
  .car-deals-item .deal-item-price span {
    font-size: 1rem;
  }

  .find-price-select {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .deal-item-form {
    display: none;
  }
}

/*# sourceMappingURL=bestcardeals.css.map */
