a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.menu {
  transform: translateY(0);
  position: absolute;
  right: 40px;
  padding: 0 20px;
  border: none;
}
.menu .menu__navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
}
.menu .menu__navbar select {
  padding: 9px;
  font-size: 1rem;
  min-width: 120px;
  align-self: center;
  position: relative;
  cursor: pointer;
  top: -2px;
}
.menu .menu__navbar select option {
  font-size: 1.2rem;
  padding: 5px;
}
.menu .menu__navbar .search {
  padding: 6px;
  background-color: #c4212a;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 800;
  cursor: pointer;
}
.menu .menu__navbar .search i {
  font-size: 1.4rem;
}
.menu .menu__navbar .search:hover {
  background-color: #ce2b2b;
}

.link {
  height: 60px;
  padding-top: 20px;
}

.first__link {
  color: #666666;
  font-size: 1.2rem;
  font-weight: 600;
}
.first__link:hover {
  color: black;
}

.introduce {
  padding-bottom: 30px;
}

.introduce__header {
  font-size: 3.6rem;
  color: black;
  font-weight: 600;
}

.introduce__text {
  padding: 10px 0;
  font-size: 1.8rem;
}

.sort {
  height: 60px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.sort__cars {
  border-left: 1px solid #666666;
  padding: 10px;
  min-width: 240px;
}

.sort-label {
  font-size: 1.2rem;
  font-weight: 800;
}

#sort {
  font-size: 1.4rem;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #f1f1f1;
}

.sort-item {
  font-size: 1.4rem;
}

.content-page {
  background-color: #f7f7f7;
  padding: 30px 0;
}

.select__side-item {
  padding: 15px 0;
  border-bottom: 1px solid #666666;
}

.select__side-list {
  padding-top: 10px;
}

.select-item-heading {
  cursor: pointer;
  display: flex;
  position: relative;
}
.select-item-heading .select-item-header {
  font-size: 1.4rem;
  font-weight: 700;
}
.select-item-heading span i {
  font-size: 2.2rem;
  color: #757373;
  position: absolute;
  right: 0px;
  transition: 0.4s;
  top: -2px;
}

.checkbox label {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox label p {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.checkbox label span {
  color: #666666;
  margin-left: 3px;
}
.checkbox input {
  margin-right: 10px;
  margin-left: 3px;
  transform: scale(1.4);
  cursor: pointer;
}

.show__all-select {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 600;
  cursor: pointer;
}
.show__all-select i {
  font-size: 1.2rem;
  position: relative;
  top: 1px;
}
.show__all-select:hover {
  color: #666666;
}

.select-year {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-year .year__select-item {
  width: 46%;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
}
.select-year .year__select-item .year__option {
  font-size: 1.4rem;
}
.select-year p {
  margin: 6px;
  font-size: 1.2rem;
}

/* --------------- MAIN CONTENT ----------------- */
.number-match {
  font-weight: 800;
  margin-bottom: 20px;
}

.main__content-item {
  box-shadow: 0 0 2px 1px #cac9c9;
  background-color: white;
  margin-bottom: 30px;
  width: 100%;
}

.main__content-item-media div {
  overflow: hidden;
  cursor: pointer;
}

.item-des-img {
  height: 150px;
  vertical-align: middle;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}
.item-des-img:hover {
  transform: scale(1.3);
}

.main__content-item-des {
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #acaaaa;
}

.media-body {
  padding: 0 10px;
}
.media-body a {
  color: black;
}
.media-body .item-header-link {
  font-size: 2rem;
  font-weight: 600;
  transition: color 0.4s;
}
.media-body .item-header-link:hover {
  color: #858181;
}
.media-body .order-in-list {
  font-size: 1.4rem;
}
.media-body .order-in-list strong {
  font-size: 1.4rem;
}
.media-body .order-in-list a {
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.4s;
}
.media-body .order-in-list a:hover {
  color: #858181;
}
.media-body .item-text-description {
  font-size: 1.2rem;
  color: black;
}
.media-body .item-text-description .item-readmore {
  font-weight: 800;
  font-size: 1rem;
  transition: color 0.4s;
}
.media-body .item-text-description .item-readmore:hover {
  color: #858181;
}

.main__content-item-last {
  padding: 10px 0;
}
.main__content-item-last .item-last-find {
  padding: 6px 15px;
}
.main__content-item-last .item-last-find .form-control {
  font-size: 1.2rem;
}
.main__content-item-last .item-last-find button {
  font-weight: 600;
  font-size: 1.4rem;
  z-index: 0 !important;
}
.main__content-item-last .item-last-price {
  padding-left: 0;
}
.main__content-item-last .item-last-price .item-last-price-text {
  font-size: 1rem;
}
.main__content-item-last .item-last-price .item-last-price-text strong {
  font-size: 1.5rem;
  font-weight: 600;
}
.main__content-item-last .item-last-price .item-last-price-text span {
  position: relative;
  top: -3px;
  left: 5px;
  color: #666666;
  font-weight: 600;
}

.main-content-item-footer {
  padding: 10px 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.main-content-item-footer input[type=checkbox] {
  transform: scale(1.3);
  display: block;
  margin-left: 5px;
  cursor: pointer;
}
.main-content-item-footer label {
  font-size: 1.2rem;
  display: block;
  margin-left: 25px;
  font-weight: 700;
}
.main-content-item-footer .item-footer-seeAll {
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
}
.main-content-item-footer .item-footer-seeAll i {
  font-size: 1.4rem;
  margin-left: 3px;
  position: relative;
  top: 1px;
}

.movePage {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.movePage .movePage__btn {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #666666;
  border: 1px solid #d8d4d4;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 2px 1px 1px #666666;
  cursor: pointer;
}
.movePage :first-child {
  cursor: not-allowed;
  opacity: 0.5;
}
.movePage i.fa-arrow-left {
  margin-right: 5px;
  font-size: 1.6rem;
}
.movePage i.fa-arrow-right {
  margin-left: 5px;
  font-size: 1.6rem;
}
.movePage .numberOfPage {
  align-self: center;
  font-size: 1.6rem;
  color: #666666;
}

.browse__side {
  padding: 20px;
  border: 1px solid #d3d0d0;
  height: 400px;
  background-color: white;
}

.browse__side-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.browse__side-list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.browse__side-item {
  color: black;
  transition: color 0.4s;
  text-align: center;
}
.browse__side-item:hover {
  color: #858181;
}

.browse-item-img {
  height: 40px;
  max-width: 130px;
}

.browse-item-text {
  padding: 5px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.browse__side-footer {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
}
.browse__side-footer span {
  font-size: 1.4rem;
  position: relative;
  top: -1px;
}

.moreOption {
  margin-top: 30px;
  margin-bottom: 50px;
}

.moreOption__header {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 0;
}

.moreOption__list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
}

.moreOption-item {
  flex: 1;
}
.moreOption-item:hover {
  box-shadow: 0 0 2px 2px #d8d3d3;
}
.moreOption-item .moreOption-item-img {
  width: 100%;
  height: 200px;
}
.moreOption-item .moreOption-item-text {
  transition: color 0.4s;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  padding: 15px 0;
  border: 1px solid #b3aeae;
  border-top: none;
}
.moreOption-item .moreOption-item-text:hover {
  color: #858181;
}

/* ---------------------------- SEE ALL -------------------- */
.trim__container {
  padding: 10px;
  border-bottom: 1px solid #acaaaa;
}

.trim-item {
  padding: 5px;
}

.trim-item__header {
  font-size: 1.4rem;
  font-weight: 600;
}

.trim-item__list {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.trim-item__list li {
  font-size: 1.4rem;
}

@media only screen and (max-width: 1440px) {
  .header .header__list {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .new-car-container {
    min-width: 98%;
  }

  .item-des-img {
    height: 100px;
  }

  .main__content-item-media {
    display: flex;
    flex-direction: row-reverse;
  }

  .main__content-item-last {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
  }
  .main__content-item-last .item-last-find {
    padding-right: 0;
  }

  .moreOption-item .moreOption-item-text {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .main__content-item-media {
    display: flex;
    flex-direction: column;
  }

  .browse__side-list {
    grid-template-columns: auto auto auto auto;
  }

  .item-readmore {
    display: block;
  }

  .item-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .item-img-div .item-des-img {
    height: 200px;
    width: 300px;
  }

  .main__content-item-last {
    flex-direction: column-reverse;
  }
  .main__content-item-last .item-last-find {
    padding-left: 0;
    max-width: 100%;
  }
  .main__content-item-last .item-last-find .input-group-append {
    flex: 1;
  }
  .main__content-item-last .item-last-find .input-group-append button {
    width: 100%;
  }

  .moreOption__list {
    grid-template-columns: auto auto;
    row-gap: 20px;
  }

  .browse__side {
    width: 98%;
    margin: 40px auto;
  }
  .browse__side .browse-item-img {
    max-width: 140px;
  }

  .introduce__header {
    font-size: 2.2rem;
  }

  .introduce__text {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 576px) {
  .trim-item__list {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .introduce__header {
    font-size: 2rem;
  }

  .introduce__text {
    font-size: 1.4rem;
  }

  .moreOption__list {
    grid-template-columns: auto;
  }

  .browse__side {
    height: 540px;
  }

  .browse__side-list {
    grid-template-columns: auto auto;
  }

  .browse__side-footer {
    margin-top: 20px;
  }

  .trim-item__list li {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=newcar.css.map */
