.first__link {
  color: #666666;
  font-size: 1.2rem;
  font-weight: 600;
}
.first__link:hover {
  color: black;
}

.link {
  height: 60px;
  padding-top: 20px;
}

.introduce {
  padding-bottom: 30px;
}

.introduce__header {
  font-size: 3.6rem;
  color: black;
  font-weight: 600;
}

.introduce__text {
  font-size: 1.8rem;
}

.find-cars {
  padding-top: 20px;
  padding-bottom: 20px;
}

.find-cars-text {
  font-size: 1.8rem;
}

.find-cars-input {
  padding: 8px !important;
  font-size: 1.4rem;
}

.find-cars-btn {
  width: 100%;
  border-radius: 0 5px 5px 0;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-color: #c4212a;
  box-shadow: #a61c1e 0px -3px 0px inset;
}

.sort {
  height: 60px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.sort__cars {
  border-left: 1px solid #666666;
  padding: 10px;
  min-width: 240px;
  display: flex;
}

.sort-label {
  font-size: 1.2rem;
  font-weight: 800;
  width: 20%;
}

#sort {
  font-size: 1.4rem;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #f1f1f1;
}

.sort-item {
  font-size: 1.4rem;
}

.content-page {
  background-color: #eeeeee;
  padding: 30px 0;
}

.used-select-side {
  padding: 0;
}

.used-select-side-header {
  font-size: 1.8rem;
  font-weight: 600;
}

.used-select__side-list {
  padding-top: 10px;
}

.used-sel-item-heading {
  cursor: pointer;
  display: flex;
  position: relative;
}
.used-sel-item-heading .used-select-item-header {
  font-size: 1.4rem;
  font-weight: 700;
}
.used-sel-item-heading span i {
  font-size: 2.2rem;
  color: #757373;
  position: absolute;
  right: 0px;
  transition: 0.4s;
  top: -2px;
}

.used-select-side-item {
  border-bottom: 1px solid #9c9a9a;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.used-select-side-item option {
  font-size: 1.3rem;
  cursor: pointer;
}

.used-select__side-list-input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  color: #757373;
  border: none;
  box-shadow: 0 0 1px 1px #757373;
}

.used-select__side-list select {
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.4rem;
  border: none;
  box-shadow: 0 0 1px 1px #757373;
}
.used-select__side-list select .select__side-option {
  padding: 20px;
  font-size: 1.4rem;
}

.form-check {
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
}

label {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.used__side-item-label {
  padding: 4px 0;
  cursor: pointer;
}
.used__side-item-label p {
  font-size: 1.4rem;
  max-width: 65%;
  display: inline-block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-bottom: 0;
}
.used__side-item-label span {
  margin-left: 5px;
  font-size: 0.9rem;
  color: #535151;
}

input[type=checkbox] {
  cursor: pointer;
  position: relative;
  top: -1px;
  margin-right: 5px;
  transform: scale(1.2);
}

.year-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.year-select .year {
  padding: 12px 8px;
  font-size: 1.2rem;
  outline: none;
}
.year-select p {
  position: relative;
  top: 3px;
  font-size: 1.2rem;
}

.price-text {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.price-text span {
  font-size: 1.4rem;
}

.multi-range-slider {
  padding: 10px 0;
}

.slider {
  position: relative;
  z-index: 1;
  height: 4px;
}

.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #a39f9f;
}

.slider > .range {
  position: absolute;
  z-index: 2;
  left: 0;
  right: -4px;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #112dca;
}

.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #a39f9f;
  box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
}

.slider > .thumb.left {
  left: 0;
  transform: translate(-6px, -8px);
}

.slider > .thumb.right {
  right: 0;
  transform: translate(6px, -8px);
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 4px;
  width: 96%;
  opacity: 0;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

.used__side-item .used__side-color-item p {
  max-width: 40%;
}
.used__side-item .label-color {
  width: 18px;
  height: 18px;
  box-shadow: 0 1px 4px #757373;
  border-radius: 50%;
  margin: 0 4px;
  background-color: red;
}

@media only screen and (max-width: 1440px) {
  .header .header__list {
    display: none;
  }
}

/*# sourceMappingURL=usedcars.css.map */
