.header__list-item-link {
  top: 0 !important;
}

a:hover {
  text-decoration: none;
}

@mixin respon {
  width: 70%;
  min-width: 1180px;
  margin: 0 auto;
}

@mixin link__gray-hover {
  transition: color 0.4s;
  &:hover {
    color: rgb(133, 129, 129);
  }
}

.menu {
  transform: translateY(0);
  position: absolute;
  right: 40px;
  padding: 0;
  border: none;
  .menu__navbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    select {
      padding: 9px;
      font-size: 1rem;
      min-width: 120px;
      align-self: center;
      position: relative;
      top: -2px;
    }
    .search {
      padding: 5px 5px;
      background-color: rgb(196, 33, 42);
      i {
        font-size: 1.4rem;
      }
    }
  }
}

.link {
  // @include respon;
  height: 60px;
  padding-top: 20px;
}

.first__link {
  color: rgb(102, 102, 102);
  font-size: 1.2rem;
  font-weight: 600;
  &:hover {
    color: black;
  }
}

.introduce {
  // @include respon;
  padding-bottom: 30px;
}

.introduce__header {
  font-size: 3.6rem;
  color: black;
  font-weight: 600;
}

.introduce__text {
  padding: 10px 0;
  font-size: 1.8rem;
}

.sort {
  height: 60px;
  border-top: 1px solid rgb(102, 102, 102);
  border-bottom: 1px solid rgb(102, 102, 102);
}

.sort__cars {
  border-left: 1px solid rgb(102, 102, 102);
  padding: 10px;
  min-width: 240px;
}

.sort-label {
  font-size: 1.2rem;
  font-weight: 800;
}

#sort {
  font-size: 1.4rem;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgb(241, 241, 241);
}

.sort-item {
  font-size: 1.4rem;
}

.content-page {
  background-color: rgb(247, 247, 247);
  padding: 30px 0;
}

// .container {
//   min-width: 1180px;
// }

.select__side-item {
  padding: 15px 0;
  border-bottom: 1px solid rgb(102, 102, 102);
}

.select__side-list {
  padding-top: 10px;
}

.select-item-heading {
  cursor: pointer;
  display: flex;
  position: relative;
  .select-item-header {
    font-size: 1.4rem;
    font-weight: 700;
  }
  span i {
    font-size: 2.2rem;
    color: #757373;
    position: absolute;
    right: 0px;
    transition: 0.4s;
    top: -2px;
  }
}

.checkbox {
  label {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    p {
      font-size: 1.4rem;
      margin-bottom: 0;
    }
    span {
      color: rgb(102, 102, 102);
      margin-left: 3px;
    }
  }
  input {
    margin-right: 10px;
    margin-left: 3px;
    transform: scale(1.4);
    cursor: pointer;
  }
}

.show__all-select {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 600;
  cursor: pointer;
  i {
    font-size: 1.2rem;
    position: relative;
    top: 1px;
  }
  &:hover {
    color: rgb(102, 102, 102);
  }
}

.select-year {
  display: flex;
  justify-content: center;
  align-items: center;
  .year__select-item {
    width: 46%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    .year__option {
      font-size: 1.4rem;
    }
  }
  p {
    margin: 6px;
    font-size: 1.2rem;
  }
}
/* --------------- MAIN CONTENT ----------------- */
.main-content {
}

.number-match {
  font-weight: 800;
  margin-bottom: 20px;
}

.main__content-item {
  box-shadow: 0 0 2px 1px rgb(202, 201, 201);
  background-color: white;
  margin-bottom: 30px;
  width: 100%;
}

.main__content-item-media {
  div {
    overflow: hidden;
    cursor: pointer;
  }
}

.item-des-img {
  height: 150px;
  vertical-align: middle;
  transition: 0.4s ease-in-out;
  overflow: hidden;
  &:hover {
    transform: scale(1.3);
  }
}

.main__content-item-des {
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid rgb(172, 170, 170);
}

.media-body {
  padding: 0 10px;
  a {
    color: black;
  }
  .item-header-link {
    font-size: 2rem;
    font-weight: 600;
    @include link__gray-hover;
  }
  .order-in-list {
    font-size: 1.4rem;
    strong {
      font-size: 1.4rem;
    }
    a {
      font-size: 1.4rem;
      font-weight: 600;
      @include link__gray-hover;
    }
  }
  .item-text-description {
    font-size: 1.2rem;
    color: black;
    .item-readmore {
      font-weight: 800;
      font-size: 1rem;
      @include link__gray-hover;
    }
  }
}

.main__content-item-last {
  padding: 10px 0;
  .item-last-find {
    padding: 6px 15px;
    // min-width: 200px;
    .form-control {
      font-size: 1.2rem;
      // min-width: 60px;
    }
    button {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
  .item-last-price {
    padding-left: 0;
    .item-last-price-text {
      font-size: 1.2rem;
      strong {
        font-size: 1.5rem;
        font-weight: 600;
      }
      span {
        position: relative;
        top: -3px;
        left: 5px;
        color: rgb(102, 102, 102);
        font-weight: 600;
      }
    }
  }
}

.main-content-item-footer {
  padding: 10px 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  input[type="checkbox"] {
    transform: scale(1.3);
    display: block;
    margin-left: 5px;
    cursor: pointer;
  }
  label {
    font-size: 1.2rem;
    display: block;
    margin-left: 25px;
    font-weight: 700;
    // position: absolute;
    // left: 40px;
    // top: 4px;
  }
  .item-footer-seeAll {
    display: block;
    font-size: 1.2rem;
    cursor: pointer;
    i {
      font-size: 1.4rem;
      margin-left: 3px;
      position: relative;
      top: 1px;
    }
  }
}

.movePage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .movePage__btn {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(102, 102, 102);
    border: 1px solid rgb(216, 212, 212);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 1px 1px rgb(102, 102, 102);
    cursor: pointer;
  }
  :first-child {
    cursor: not-allowed;
    opacity: 0.5;
  }
  i.fa-arrow-left {
    margin-right: 5px;
    font-size: 1.6rem;
  }
  i.fa-arrow-right {
    margin-left: 5px;
    font-size: 1.6rem;
  }
  .numberOfPage {
    align-self: center;
    font-size: 1.6rem;
    color: rgb(102, 102, 102);
  }
}

.browse__side {
  padding: 20px;
  border: 1px solid rgb(211, 208, 208);
  height: 400px;
  background-color: white;
}

.browse__side-header {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.browse__side-list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.browse__side-item {
  color: black;
  @include link__gray-hover;
  text-align: center;
}

.browse-item-img {
  // width: 100%;
  height: 40px;
  max-width: 130px;
}

.browse-item-text {
  padding: 5px 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.browse__side-footer {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  span {
    font-size: 1.4rem;
    position: relative;
    top: -1px;
  }
}

.moreOption {
  margin-top: 30px;
  margin-bottom: 50px;
}

.moreOption__header {
  font-size: 2rem;
  font-weight: 600;
  padding: 10px 0;
}

.moreOption__list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
}

.moreOption-item {
  flex: 1;
  &:hover {
    box-shadow: 0 0 2px 2px rgb(216, 211, 211);
  }
  .moreOption-item-img {
    width: 100%;
    height: 200px;
  }
  .moreOption-item-text {
    @include link__gray-hover;
    color: black;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    padding: 15px 0;
    border: 1px solid rgb(179, 174, 174);
    border-top: none;
  }
}

@mixin repon_for_header_footer {
  @media only screen and (max-width: 1280px) {
    footer {
      .footer__list {
        min-width: 96%;
      }
      .footer {
        min-width: 96%;
        .footer-2 {
          flex-direction: column;
          // .footer-2-list {
          //   dis
          // }
        }
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .header {
      .header__list {
        display: none;
      }
    }
    footer {
      .footer {
        flex-direction: column;
        text-align: center;
        .footer-logo {
          margin-bottom: 16px;
        }
        .footer__info {
          .footer-1 {
            width: 70%;
            margin: 0 auto;
          }
          .footer-2 {
            flex-direction: row;
            justify-content: center;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 640px) {
    footer {
      .footer__list {
        flex-direction: column;
        .footer__list-item {
          display: flex;
          justify-content: center;
          padding: 10px 0;
          p {
            display: none;
          }
          .footer__col_header {
            display: block;
          }
          .footer__list-col {
            display: none;
          }
        }
      }
      .footer {
        .footer__info {
          width: 100%;
          .footer-1 {
            width: 80%;
            justify-content: center;
            flex-wrap: wrap;
            .footer__info-link {
              margin-bottom: 10px;
            }
          }
          .footer-2 {
            flex-direction: column;
            justify-content: center;
            .footer-2-list {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              .footer__link-benifit {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .header {
    .header__list {
      display: none;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    min-width: 98%;
  }
  .item-des-img {
    height: 100px;
  }
  .main__content-item-media {
    display: flex;
    flex-direction: row-reverse;
  }
  .main__content-item-last {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 0 auto;
    .item-last-find {
      padding-right: 0;
    }
  }
  .moreOption-item {
    .moreOption-item-text {
      font-size: 1.3rem;
    }
  }
}

// @media only screen and (max-width: 992px) {
//   .moreOption__list {
//     grid-template-columns: auto auto;
//     row-gap: 20px;
//   }
// }

@media only screen and (max-width: 768px) {
  .main__content-item-media {
    display: flex;
    flex-direction: column;
  }

  .browse__side-list {
    grid-template-columns: auto auto auto auto;
  }

  .item-readmore {
    display: block;
  }

  .item-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
    .item-des-img {
      height: 200px;
      width: 300px;
    }
  }

  .main__content-item-last {
    flex-direction: column-reverse;
    .item-last-find {
      padding-left: 0;
      max-width: 100%;
      input.form-control {
        // width: 50%;
      }
      .input-group-append {
        flex: 1;
        button {
          width: 100%;
        }
      }
    }
    // .item-last-price {
    //   width: 100%;
    //   display: flex;
    //   justify-content: space-between;
    // }
  }
  .moreOption__list {
    grid-template-columns: auto auto;
    row-gap: 20px;
  }

  .browse__side {
    width: 98%;
    margin: 40px auto;
    // column-gap: 30px;
    .browse-item-img {
      max-width: 140px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .introduce__header {
    font-size: 2rem;
  }
  .introduce__text {
    font-size: 1.4rem;
  }
  .moreOption__list {
    grid-template-columns: auto;
  }

  .browse__side {
    height: 540px;
  }
  .browse__side-list {
    grid-template-columns: auto auto;
  }

  .browse__side-footer {
    margin-top: 20px;
  }
}

@include repon_for_header_footer;
